<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="15" android:versionName="1.0.0-SNAPSHOT" package="com.simpligility.android.morseflash">
    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="MorseFlashApplication">
        <activity android:label="@string/app_name" android:name="ConfigureMorseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="MorseFlashActivity"/>
    </application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9"/>
</manifest>